.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: antiquewhite;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  background-color: orange;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 2px 2px 9px rgba(#000, 0.5);
}

.input-box {
  width: 60%;
  display: flex;
  justify-content: space-between;
  border: 1px solid yellowgreen;
  margin-bottom: 20px;
}

.input-box--sauce {
  justify-content: flex-start;
}

.radio-box {
  justify-content: flex-start;
}

input[type='radio'] {
  display: block;
}

label {
 margin-right: 10px; 
}

.sauceLabel {
  margin-bottom: 10px;
}

.sauceInputBox {
  display: flex;
  flex-direction: column;
}

.sauceInput {
  margin-bottom: 8px;
}

